@import url('../fonts/nunito/font.css');

body,
.nunito {
  font-family: 'Nunito', sans-serif !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.content{
  padding: 10vh 2vw;
}

.grow{
  flex-grow: 1;
}

.contribute-section{
  justify-content: center;
  min-height: 50vh;
  display: flex;
  align-items: center;
}

.action-image{
  height: 0;
}
